<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Carsten Graef</fullName>
  <description></description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>DbLc4pe0ePSEC+8sZ4aojQH08qjlgGIed83gudWydEXgUr37ZChVQ7m/N3MsSMEl</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.plugins.greenballs.ColorBlindProperty plugin="greenballs@1.15">
      <enabledColorBlindSupport>false</enabledColorBlindSupport>
    </hudson.plugins.greenballs.ColorBlindProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.18">
      <emailAddress>evandor@gmail.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.0.4">
      <data class="concurrent-hash-map">
        <entry>
          <string>skysail.doc</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>notes</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.pipleline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.server.app.website</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.pline.export.int</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail-repository.release</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssa.todos.mT</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>wyt</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>sidebar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.javadoc</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail-webconsole</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail (branch)</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.nightly</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.demo.export.int</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.demo.export.prod</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.server.export.int</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail-webconsole.bundle.release</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail-prototypr</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail-webconsole.doc</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.pact.export.int</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail-prototypr.cucumber</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.domain.sonar</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.bundle.release</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.io</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.livingspec.export.int</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>skysail.cucumber</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.pact.e2e</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.pline.export.prod</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssa.metrics.int</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>ssp.prototypr.export.int</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>eXzzUC:ac249e65ac877675cd05251bd5580dbb86b52b24cef642ecbb767f651b303172</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
      <authorizedKeys>ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDLwfQdxOaqnp8RmqgE1EkZStJBfTRLVKG3qUPKK9nqn9cQlYi3LSZtw8m1s5porB3Wq8dOPx+v0vFWVHE84L6z6c1UbFCEcU0pIdMu9rieFCXsd/wR48hT7E5HXOnCGF180XcNp8sHlVzMwASVakBwevBAUBVjaBhMTMHPmTmymNDeVhkmV3+BpNTD2JZqU2SEjEWEt2PBqsqjsbrX48sCvh0pcgLVOBmVnHn4FgdDy7w4vnt7I72HI/J4+6JN4M9Z6UYhm38CW0RVY0rj5GbjBCCK51wquJrostaNLwLQNYQ0BblHgRZZjgci1c3i0b8vfQ06Ty9gmifUkgO6bpbR evandor@gmail.com</authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <org.jenkins.ci.plugins.keyboard__shortcuts.KeyboardShortcutsUserProperty plugin="keyboard-shortcuts-plugin@1.2">
      <disabled>false</disabled>
    </org.jenkins.ci.plugins.keyboard__shortcuts.KeyboardShortcutsUserProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.11">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList/>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1401686086771</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.54">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@1.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
  </properties>
</user>