<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>50</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>BUNDLE</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>skysail.api</string>
              <string>skysail.api.search</string>
              <string>skysail.client.testsupport</string>
              <string>skysail.domain</string>
              <string>skysail.product.template</string>
              <string>skysail.server</string>
              <string>skysail.server.app.template</string>
              <string>skysail.server.app.webconsole</string>
              <string>skysail.server.codegen</string>
              <string>skysail.server.converter</string>
              <string>skysail.server.db</string>
              <string>skysail.server.ext.browser</string>
              <string>skysail.server.ext.initconfig</string>
              <string>skysail.server.ext.metrics</string>
              <string>skysail.server.ext.template</string>
              <string>skysail.server.http</string>
              <string>skysail.server.polymer</string>
              <string>skysail.server.queryfilter</string>
              <string>skysail.server.static</string>
              <string>skysail.server.testsupport</string>
              <string>skysail.server.text.markdown</string>
              <string>skysail.server.text.store.bundleresource</string>
              <string>skysail.server.text.store.git</string>
              <string>skysail.server.ui.bootstrap</string>
              <string>skysail.server.ui.jquery</string>
              <string>skysail.server.ui.jquerymobile</string>
              <string>skysail.server.ui.mdb</string>
              <string>skysail.server.ui.semanticui</string>
              <string>skysail.server.um.httpbasic</string>
              <string>skysail.server.um.shiro</string>
              <string>skysail.server.um.verifier.filebased</string>
              <string>skysail.server.um.repository.filebased</string>
              <string>skysail.server.um.repository.fixed</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description></description>
          <defaultValue>x.y.z</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.25.1">
      <projectUrl>https://github.com/evandor/skysail/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.0.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/evandor/skysail.git</url>
        <credentialsId>45c9c9dd-94fc-42f8-8e60-9816dc1b4b64</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>java SDK 8u5</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.gradle.Gradle plugin="gradle@1.25">
      <description></description>
      <switches></switches>
      <tasks>${BUNDLE}:clean ${BUNDLE}:build ${BUNDLE}:release</tasks>
      <rootBuildScriptDir></rootBuildScriptDir>
      <buildFile></buildFile>
      <gradleName>gradle 2.9</gradleName>
      <useWrapper>false</useWrapper>
      <makeExecutable>false</makeExecutable>
      <fromRootBuildScriptDir>false</fromRootBuildScriptDir>
      <useWorkspaceAsHome>false</useWorkspaceAsHome>
      <passAsProperties>false</passAsProperties>
    </hudson.plugins.gradle.Gradle>
    <hudson.tasks.Shell>
      <command>git add -A
git commit -m &quot;new Release ${BUNDLE}-${VERSION}&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.logparser.LogParserPublisher plugin="log-parser@2.0">
      <unstableOnWarning>false</unstableOnWarning>
      <failBuildOnError>false</failBuildOnError>
      <showGraphs>true</showGraphs>
      <parsingRulesPath>/home/carsten/hudson/parsing_rules</parsingRulesPath>
      <useProjectRule>false</useProjectRule>
    </hudson.plugins.logparser.LogParserPublisher>
    <hudson.plugins.git.GitPublisher plugin="git@3.0.1">
      <configVersion>2</configVersion>
      <pushMerge>false</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <forcePush>false</forcePush>
      <tagsToPush>
        <hudson.plugins.git.GitPublisher_-TagToPush>
          <targetRepoName>origin</targetRepoName>
          <tagName>${BUNDLE}-${VERSION}</tagName>
          <tagMessage></tagMessage>
          <createTag>true</createTag>
          <updateTag>false</updateTag>
        </hudson.plugins.git.GitPublisher_-TagToPush>
      </tagsToPush>
      <branchesToPush>
        <hudson.plugins.git.GitPublisher_-BranchToPush>
          <targetRepoName>origin</targetRepoName>
          <branchName>master</branchName>
        </hudson.plugins.git.GitPublisher_-BranchToPush>
      </branchesToPush>
    </hudson.plugins.git.GitPublisher>
    <hudson.tasks.Mailer plugin="mailer@1.18">
      <recipients>evandor@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
    <com.cloudbees.jenkins.GitHubCommitNotifier plugin="github@1.25.1">
      <statusMessage>
        <content></content>
      </statusMessage>
      <resultOnFailure>FAILURE</resultOnFailure>
    </com.cloudbees.jenkins.GitHubCommitNotifier>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.32">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.6.5">
      <template>${ENV,var=&quot;BUNDLE&quot;} ${ENV,var=&quot;VERSION&quot;}</template>
      <runAtStart>true</runAtStart>
      <runAtEnd>true</runAtEnd>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
  </buildWrappers>
</project>